{% extends 'layout.twig' %}

{% block content %}
<style>
input.error {
    border: 1px solid #e80c4d;
    background-color: #f68bab;
}
input.success {
    border: 1px solid #66cc66;
    background-color: #b5f9af;
}
</style>

<div id="addANewUser" class="container">
    <h3>Modifica {{ client.first_name }} {{ client.last_name }}</h3>
    <form role="form" method="post" action="">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="first_name" value="{{ client.first_name }}" required>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="last_name" value="{{ client.last_name }}" required>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-heart-empty"></span></span>
            <input type="text" class="form-control" name="tutors" value="{{ client.tutors }}">
        </div>
        <span class="help-block">Inserire tutti i referenti separati da virgole.</span>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
            <input class="form-control" name='address' value="{{ client.address }}" >
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
            <input class="form-control" name='phone' value="{{ client.phone }}">
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input class="form-control" name='email' type="email" value="{{ client.email }}" required>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-baby-formula"></span></span>
            <input class="form-control starting_date" name='birthday' value="{{ client.birthday }}" required>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-scale"></span></span>
            <textarea rows="8" cols="25" id='medical_conditions' class="form-control pickadate" name='medical_conditions' required>{{ client.medical_conditions }}</textarea>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
            <textarea rows="8" cols="25" id='first_contact_info' class="form-control pickadate" name='first_contact_info' required>{{ client.first_contact_info }}</textarea>
        </div>
        </br>

        <span id="confirmMessage1" class="confirmMessage"></span>
        </br>
    </form>
    <div id="newUserInfo"></div>
    <button id="send1" class="btn btn-default">Submit</button>
</div>

<script>
    $('.starting_date').val("{{ client.birthday|date('m/d/Y') }}");
    $('.starting_date').click(function(){
        $('.starting_date').pickadate({
            labelMonthNext: 'Go to the next month',
            labelMonthPrev: 'Go to the previous month',
            labelMonthSelect: 'Pick a month from the dropdown',
            labelYearSelect: 'Pick a year from the dropdown',
            selectMonths: true,
            selectYears: true,
            format: 'yyyy-mm-dd'
        });
    });
    $('#send1').click(function() {
        var clientData = {};
        $.each($('#addANewUser input'),function(){
            var fieldName = $(this).attr('name');
            var fieldValue = $(this).val();
            clientData[fieldName] = fieldValue;
        });
        clientData['first_contact_info'] = $('#first_contact_info').val();
        clientData['medical_conditions'] = $('#medical_conditions').val();

       $.ajax({
          type: "POST",
          url: '/clients/manage/'+'{{ client.uuid }}',
          data: clientData,
          error: function(e) {
              console.log(e);
             $('#newUserInfo').html('<p>An error has occurred, please try again later.</p>');
          },
          success: function(data) {
              console.log(data);
              var text = '';
              var response = data;
              if(response == 0){
                  text = 'I dati corrispondono a un altrobambino già presente nel database!.';
                  var description = '<p class="lastInfo" style="color:red;">'+text+'</p>';
              }else{
                  text = 'Congratulazioni, hai correttamente modificato le informazioni :)';
                  var description = '<p class="lastInfo" style="color:green;">'+text+'</p>';
              }
              $('.lastInfo').remove();
              $('#newUserInfo').append(description);
          }
       });
    });
</script>

{% endblock %}
