{% extends 'layout.twig' %}

{% block content %}
<style>
input.error {
    border: 1px solid #e80c4d;
    background-color: #f68bab;
}
input.success {
    border: 1px solid #66cc66;
    background-color: #b5f9af;
}
</style>

<div id="modifyAppointment" class="container sheet bottom30">
    <h3>Dettagli appuntamento</h3>
    <h6>creato: {{ appointment.created|date('m/d/Y') }}</h6>
    <h6>ultima modifica: {{ appointment.updated|date('m/d/Y H:m') }}</h6>
    <form role="form" method="post" action="">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <select id="client_uuid" class="form-control" required>
                {% include "helpers/clients.twig" %}
            </select>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <select id="product_uuid" class="form-control" required>
                {% include "helpers/products.twig" %}
            </select>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-baby-formula"></span></span>
            <input class="form-control starting_date" id='date' value="{{ appointment.date|date('m/d/Y') }}" required>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-baby-formula"></span></span>
            <input class="form-control timepicker" id='time' value="{{ appointment.date|date('H:i') }}" required>
        </div>
        </br>
    </form>
    <div id="newAppointmentInfo"></div>
    <button id="send1" class="btn btn-success">Modifica l'appuntamento</button>
    <button id="send2" class="btn btn-danger">Elimina l'appuntamento</button>
</div>

<div class="container sheet sub-sheet">
    <h3>Info sul bambino</h3>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-heart-empty"></span></span>
        <input type="text" class="form-control" name="tutors" value="{{ appointment.tutors }}" disabled>
    </div>
    </br>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
        <input class="form-control" name='address' value="{{ appointment.address }}" disabled>
    </div>
    </br>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
        <input class="form-control" name='phone' value="{{ appointment.phone }}" disabled>
    </div>
    </br>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        <input class="form-control" name='email' type="email" value="{{ appointment.email }}" disabled>
    </div>
    </br>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-baby-formula"></span></span>
        <input class="form-control" name='birthday' value="{{ appointment.birthday|date('m/d/Y') }}" disabled>
    </div>
    </br>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h6>condizioni mediche particolari</h6>
        <textarea rows="8" cols="25" id='medical_conditions' class="form-control pickadate" name='medical_conditions' disabled>{{ appointment.medical_conditions }}</textarea>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h6>come ci ha conosciuto?</h6>
        <textarea rows="8" cols="25" id='first_contact_info' class="form-control pickadate" name='first_contact_info' disabled>{{ appointment.first_contact_info }}</textarea>
    </div>
    </br>
    <div class="top30 col-lg-12 col-md-12 col-sm-12">
        <a href="/clients/manage/{{appointment.clientUuid}}"><button class="btn btn-success">Modifica le informazioni</button></a>
    </div>
</div>


<script>
    $('.starting_date').val("{{ appointment.date|date('m/d/Y') }}");
    $('.starting_date').click(function(){
        $('.starting_date').pickadate({
            labelMonthNext: 'Go to the next month',
            labelMonthPrev: 'Go to the previous month',
            labelMonthSelect: 'Pick a month from the dropdown',
            labelYearSelect: 'Pick a year from the dropdown',
            selectMonths: true,
            selectYears: true,
            format: 'yyyy-mm-dd'
        });
    });

    $('.timepicker').pickatime({ format: 'H:i', interval: 5, min: [7,30], max: [18,0] });

    $('#send1').click(function() {
        if($(this).hasClass('disabled')) return false;
        confirm('Sei sicuro di voler modificare l\'appuntamento?');
        var client_uuid = $('#client_uuid').val();
           product_uuid = $('#product_uuid').val();
                   date = $('#date').val();
                   time = $('#time').val();
        var appointmentData = {
            'client_uuid': client_uuid,
            'product_uuid': product_uuid,
            'date': date,
            'time': time
        };
        console.log(appointmentData);

       $.ajax({
          type: "POST",
          url: '/appointments/manage/'+'{{ appointment.appointmentUuid }}',
          data: appointmentData,
          error: function(e) {
              console.log(e);
             $('#newUserInfo').html('<p>An error has occurred, please try again later.</p>');
          },
          success: function(data) {
              console.log(data);
              text = 'Congratulazioni, hai correttamente modificato le informazioni :)';
              var description = '<p class="lastInfo" style="color:green;">'+text+'</p>';
              $('.lastInfo').remove();
              $('#newAppointmentInfo').append(description);
          }
       });
    });

    $('#send2').click(function() {
        if($(this).hasClass('disabled')) return false;
        confirm('Sei sicuro di voler cancellare l\'appuntamento? Una volta cancellato non sarà più possibile recuperarlo.');
        var uuid = {
            'uuid': '{{ appointment.appointmentUuid }}'
        };
       $.ajax({
          type: "POST",
          url: '/appointments/delete',
          data: uuid,
          error: function(e) {
              console.log(e);
             $('#newUserInfo').html('<p>An error has occurred, please try again later.</p>');
          },
          success: function(data) {
              console.log(data);
              alert('L\'appuntamento è stato cancellatocon successo!');
              window.location.replace("/");
          }
       });
    });
</script>

{% endblock %}
